<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Engineering in Databricks Spark</title>
    <!-- Add any other meta tags or stylesheets here -->
</head>
<body>
    <!-- Your logo -->
    <img src="images/PDP.png" alt="My Logo">

    <!-- Page content -->
    <h1>Data Engineering in Databricks Spark 🌨️</h1>
    <p>Keep an eye on my data engineer formations!</p>

    <!-- Footer or additional content -->
    <!-- You can customize this section as needed -->

    <!-- Scripts or other dependencies -->
    <!-- You can include any JavaScript or other scripts here -->
</body>
</html>
